<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css"
    href=fontawesome-free-5.12.0-web/css/all.css>
    <title>Document</title>
</head>
<body>
    <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbar">
            <i class="fa fa-bars"></i>
            </label>
        <label class="qbc">BrandName</label>
        <ul>
            <li style="--i: .6s"><a href="index.html" class="active">Home</a></li>
            <li style="--i: .85s"><a href="Advert.html">Adverts</a></li>
            <li style="--i: 1.1s"><a href="#">About</a></li>
            <li style="--i: 1.35s"><a href="contact.html">Contact</a></li>
            <li style="--i: 1.655s"><a href="login.html">Sign in</a></li>
        </ul>
    </nav>
    <section class="sds">
        <div style="display: flex; flex-wrap: wrap;align-items: center;justify-content: space-around;">
            <div class="xcv">
                <div style="padding-left: 10%;">
                    <p>Take your BUSINESS ONLINE</p>
                <h1>Want us to ADVERTISE your product for You? you are in the right place and BrandName is here to serve you better </h1>
               <div>
                <button>Know more TODAY<i class="fa fa-arrow"></i></button>
                <button>Contact Us<i class="fa fa-arrow"></i></button>
               </div>
                </div>
            </div>
            <div class="cvx">
                <div>
                    <img src="assets/img/f.png" alt="" width="600px">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="vbn">
            <div>
                <h1>BrandName All The Way</h1>
                <div class="bnm">
                    <select>
                        <option value="">What Are You Looking For?</option>
                        <option value="">Shoes</option>
                        <option value="">Bags</option>
                        <option value="">Shirts</option>
                    </select>
                    <select>
                        <option value="">Location</option>
                        <option value="">Location</option>
                    </select>
                    <select>
                        <option value="">All Categories</option>
                    </select>
                    <input type="button" value="Search">
                </div>
            </div>
        </div>
    </section>
    <section style=" margin: 0 10%; width: ">
        <div style="display: flex; flex-wrap: wrap;">
            <div class="yuu">
                <img src="assets/img/d.jpg" alt="">
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <!-- <video src="assets/video/1.mp4" type="video/mp4" width="300px" height="200px"></video> -->
                <video controls>
                    <source src="assets/video/1.mp4" type="video/mp4">
                </video>
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <img src="assets/img/d.jpg" alt="">
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <!-- <video src="assets/video/1.mp4" type="video/mp4" width="300px" height="200px"></video> -->
                <video controls>
                    <source src="assets/video/1.mp4" type="video/mp4">
                </video>
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <!-- <video src="assets/video/1.mp4" type="video/mp4" width="300px" height="200px"></video> -->
                <video controls>
                    <source src="assets/video/1.mp4" type="video/mp4">
                </video>
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <img src="assets/img/d.jpg" alt="">
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <!-- <video src="assets/video/1.mp4" type="video/mp4" width="300px" height="200px"></video> -->
                <video controls>
                    <source src="assets/video/1.mp4" type="video/mp4">
                </video>
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
            <div class="yuu">
                <!-- <video src="assets/video/1.mp4" type="video/mp4" width="300px" height="200px"></video> -->
                <video controls>
                    <source src="assets/video/1.mp4" type="video/mp4">
                </video>
                <div style="padding: 10px;">
                    <h1>Title</h1>
                <p>Molestias quo molestiae corporis quae ut adipisci cupiditate consequatur ducimus architecto velit eveniet, hic asperiores aliquid doloribus maxime fuga minima beatae est?</p>
                <span>More info</span>
                </div>
            </div>
        </div>
    </section>
    <section class="sds">
        <div style="display: flex; flex-wrap: wrap;align-items: center;justify-content: space-between; margin-top: 60px;">
            <div class="xcv" style="padding-left: 10%;">
                <div>
                   <form action="" style="display: block;">
                       <h1>SEND US A MESSAGE</h1>
                       <input class="mnb" type="text"  placeholder="Your Name" >
                       <input  class="mnb" type="text"  placeholder="Your Email">
                       <input  class="mnb" type="text"  placeholder="Your Email">
                       <input  class="mnb" type="text"  placeholder="Your Subject">
                       <input class="mnb mn" type="text"  placeholder="Your Message">
                      <input type="submit" class="submit">
                   </form>
                </div>
            </div>
            <div class="cvx">
                <div class="bvc">
                   <div class="bvc">
                    <h1>Where to find us</h1>
                    <p>N0 34 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo recusandae fugiat</p>
                   </div>
                    <div>
                        <h1>Email Us At</h1>
                        <p>contact@BrandName.com</p>
                        <p>info@gmail.com</p>
                    </div>
                    <div>
                        <h1>Call Us At</h1>
                        <p>Phone: (+234)8140409672</p>
                        <p>Phone: (+234)8101229437</p>
                        <p>Phone: (+234)9065255271</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>